---
import { Image } from 'astro:assets';
import { FACEIT_LEVEL_LOGOS } from '../utils/faceit-level-logo-mapper';

interface Props {
    data: LeaderboardEntry[];
}

interface LeaderboardEntry {
    playerId: string;
    nickname: string;
    country: string;
    position: number;
    faceit_elo: number;
    game_skill_level: 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10;
}

const { data } = Astro.props;
---

<section class="container py-20 mx-auto">
    <table class="table w-full">
        <thead>
            <tr class="border-b-2">
                <th class="w-[120px]">
                    <div class="flex items-center justify-center p-4">
                        Position
                    </div>
                </th>
                <th>
                    <div class="flex items-center justify-start p-4">
                        Username
                    </div>
                </th>
                <th class="w-[200px]">
                    <div class="flex items-center justify-center p-4">Elo</div>
                </th>
                <th class="w-[200px]">
                    <div class="flex items-center justify-center p-4">Rank</div>
                </th>
            </tr>
        </thead>
        <tbody>
            {
                data.map((entry: LeaderboardEntry) => (
                    <tr>
                        <th class="w-[120px]">
                            <div class="flex items-center justify-center p-4">
                                {entry.position}
                            </div>
                        </th>
                        <th>
                            <div class="flex items-center justify-start p-4">
                                {entry.nickname}
                            </div>
                        </th>
                        <th class="w-[200px]">
                            <div class="flex items-center justify-center p-4">
                                {entry.faceit_elo}
                            </div>
                        </th>
                        <th class="w-[200px]">
                            <div class="flex items-center justify-center p-4">
                                <Image src={FACEIT_LEVEL_LOGOS[entry.game_skill_level].src} alt={`Level ${entry.game_skill_level}`} height={28} width={28} />
                            </div>
                        </th>
                    </tr>
                ))
            }
        </tbody>
    </table>
</section>